#frmHeaderLabel {
    -fx-font: 20px "Arial";
    -fx-text-fill: darkblue;
}
#partsHeaderLabel {
    -fx-font: 18px "Arial";
    -fx-text-fill: rgb(46, 46, 46);
}
#productsHeaderLabel {
    -fx-font: 18px "Arial";
    -fx-text-fill: rgb(46, 46, 46);
}